.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: audiowide;
    text-align: center;
    color: ivory;
}

body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    font-family: audiowide;
}

header {
    font-family: audiowide;
    text-align: center;
    color:ivory;
    text-decoration: darkolivegreen;
    margin-bottom: 5rem;
    margin-top:3rem;
}

button {
    background-color:ivory;
    border-radius:3em;
    font-size: large;
    padding:10px 20px;
}



select {
    border-radius:3em;
    background-color: ivory;
    font-size: large;
    padding:10px 20px;
}
input {
    border-radius: 3em;
    background-color: ivory;
    font-size:large;
    padding:10px 20px;

}
footer {
    font-family: audiowide;
    color: ivory;
    font-size: samll;
    margin-top: 25em;
}

label {
    font-family: audiowide;
    color: ivory;

}