.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
}

h1 {
    font-family: audiowide;
    text-align: center;
    color:ivory;
    text-decoration: darkolivegreen;
}

button {
    background-color:ivory;
    border-radius:3em;
    font-size: large;
    padding:10px 20px;
}

select {
    border-radius:3em;
    background-color: ivory;
    font-size: large;
    padding:10px 20px;
}
input {
    border-radius: 3em;
    background-color: ivory;
    font-size:large;
    padding:10px 20px;

}
footer p {
    font-family: audiowide;
    color: ivory;
    font-size: samll;
}